{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% block content %}

<h1>
  Home
</h1>


<a href="{% url 'main:pengalaman' %}">Pengalaman</a>
<br>
<a href="{% url 'main:penggunaJasa' %}">Pengguna Jasa</a>
<br>
<a href="{% url 'main:pekerjaan' %}">Pekerjaan</a>
<br>
<a href="{% url 'main:layanan' %}">Layanan</a>
<br>
<a href="{% url 'main:platform' %}">Platform</a>


{% endblock content %}