{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Pengguna Jasa</title>
{% endblock meta %}

{% block content %}

<h2>Pengguna Jasa</h2>

<form action="" method="POST">
    {% csrf_token %}
    <input name="nama" type="text">
    <button type="submit">
        ADD
    </button>
</form>
<br>
<table border="1px solid black">
    <tr>
        <td>No</td>
        <td>Nama</td>
    </tr>
    {% for res in result %}
    <tr>
        <td>{{res.id}}</td>
        <td>{{res.nama}}</td>
    </tr>
    {% endfor %}
</table>


{% endblock content %}
