{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Platform</title>
{% endblock meta %}

{% block content %}

<h2>Pengalaman</h2>

<form action="" method="POST">
    {% csrf_token %}
    <select name="tahun" required>
        {% for i in year %}
        <option>{{i}}</option>
        {% endfor %}
    </select>
    <br>
    <select name="penggunaJasa" required>
        {% for pj in penggunaJasa %}
        <option>{{ pj }}</option>
        {% endfor %}
    </select>
    <br>
    <select name="pekerjaan" required>
        {% for p in pekerjaan %}
        <option>{{ p }}</option>
        {% endfor %}
    </select>
    <br>
    <input name="nilai" type="number" required>
    <br>
    <select name="layanan" required>
        {% for l in layanan %}
        <option>{{ l }}</option>
        {% endfor %}
    </select>
    <br>
    <div id="platforms">
        <select name="platform">
            {% for p in platform %}
            <option>{{ p }}</option>
            {% endfor %}
        </select>
    </div>
    <a href="#" id="tambah">➕</a>
    <br>
    <input name="ps" type="date" required>
    <br>
    <input name="pe" type="date" required>
    <br>
    <button type="submit">
        ADD
    </button>
</form>
<br>

<table border="1px solid black">
    <tr>
        <td>Tahun</td>
        <td>Pengguna Jasa</td>
        <td>Nama Pekerjaan</td>
        <td>Nilai</td>
        <td>Lingkup Layanan</td>
        <td>Platform</td>
        <td>Periode</td>
    </tr>
    {% for res in pengalaman %}
    <tr>
        <td>{{res.tahun}}</td>
        <td>{{res.pj}}</td>
        <td>{{res.pekerjaan}}</td>
        <td>{{res.nilai}}</td>
        <td>{{res.layanan}}</td>
        <td>{{res.platform}}</td>
        <td>{{res.periode}}</td>
    </tr>
    {% endfor %}
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'script.js' %}"></script>

{% endblock content %}